<t id="global-template">
    <div id="global-template">
        <h1>Navimi SPA</h1>
        <nav>
            <a class="route" href="/" navimi-link>Home</a>
            <a class="route" href="/about" navimi-link>About</a>
            <a class="route" href="/contact" navimi-link>Contact</a>
        </nav>
        
        <div id="div-content">

        </div>

    </div>
</t>

<t id="404">
    <div>
        <h2>Page not found!!!</h2>
        <a href="/" navimi-link>Go back to home</a>
    </div>
</t>