<t id="header-template">
    <nav>
        <a class="route" href="/" navimi-link>Home</a>
        <a class="route" href="/about" navimi-link>About</a>
        <a class="route" href="/contact" navimi-link>Contact</a>
        <a class="route" href="/libs-test" navimi-link>Libs test</a>  
        <a class="route" href="/state-test" navimi-link>State test</a>       
        <a class="route" href="/path-test/value1/value2" navimi-link>Path test</a>
        <a class="route" href="/css-test" navimi-link>Css test</a>
    </nav>
</t>
