<t id="contact-template">
    <div>
        <h1>Navimi SPA</h1>
        <nav>
            <a class="route" href="/" 
                onclick="navigateTo('/'); return false">Home</a>
            <a class="route" href="/about"
                onclick="navigateTo('/about'); return false">About</a>
            <a class="route active" href="/contact"
                onclick="return false">Contact</a>
        </nav>
        
        <div>
            <h1>Contact...</h1>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
                praesentium voluptatum deleniti atque corrupti quos dolores et quas 
                molestias excepturi sint occaecati cupiditate non provident, similique 
                sunt in culpa qui officia deserunt mollitia animi, id est laborum et 
                dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil 
                impedit quo minus id quod maxime placeat facere possimus, </p>
        </div>

    </div>
</t>